<div class="container-fluid">
    <div class="form-group selected mx-auto">
      <form [formGroup]="selectCatForm">
        <select class="form-control text-capitalize" formControlName="selectCat">
          <option [ngValue]="null" disabled>Select</option>
          <option  *ngFor="let cat of categories">{{ cat }}</option>
        </select>
      </form>
    </div>
    <hr />
    <form
      (ngSubmit)="onEditProduct()"
      [formGroup]="editProductForm"
      class="selected mx-auto"
    >
      <!-- electronics -->
      <div *ngIf="selectCatForm.get('selectCat').value === 'electronics'">aa</div>
      <!-- end of electronics -->
      <!-- mobiles -->
      <div *ngIf="selectCatForm.get('selectCat').value === 'mobiles'">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Mobile Brand"
            formControlName="mobileBrand"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Mobile Name"
            formControlName="mobileName"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Mobile Model"
            formControlName="mobileModel"
          />
        </div>
        <div class="form-group">
          <input
            type="number"
            class="form-control"
            placeholder="Mobile Price"
            formControlName="mobilePrice"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Mobile ImgPath"
            formControlName="mobileImgPath"
          />
        </div>
        <!-- description -->
        <div formGroupName="description">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Mobile Color"
              formControlName="mobileColor"
            />
          </div>
          <div class="form-group">
            <input
              type="number"
              class="form-control"
              placeholder="Mobile Ram"
              formControlName="mobileRam"
            />
          </div>
          <div class="form-group">
            <input
              type="number"
              class="form-control"
              placeholder="Mobile Screen size"
              formControlName="mobileScreenSize"
            />
          </div>
          <div class="form-group">
            <input
              type="number"
              class="form-control"
              placeholder="Mobile Storage"
              formControlName="mobileStorage"
            />
          </div>
          <div class="form-group">
            <input
              type="number"
              class="form-control"
              placeholder="Mobile Camera"
              formControlName="mobileCamera"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Mobile Network"
              formControlName="mobileNetwork"
            />
          </div>
        </div>
        <!-- end of mobile description -->
        <button
          class="btn btn-success btn-block"
          type="submit"
          [disabled]="!editProductForm.valid && editProductForm.touched"
        >
          Add Product
        </button>
      </div>
      <!-- end of mobiles -->
      <div *ngIf="selectCatForm.get('selectCat').value === 'appliances'">dd</div>
      <div *ngIf="selectCatForm.get('selectCat').value === 'toys'">ff</div>
      <div *ngIf="selectCatForm.get('selectCat').value === 'fashion'">gg</div>
    </form>
    
  </div>